/*-------------- basket -----------------*/
.basket{
	margin-left: 142px;
	margin-right: 142px;

	&__top{
		padding-bottom: 20px;
		border-bottom: 1px solid #C2C2C2;
	}

	&__title{
		font-family: var(--font-grotesk);
		font-size: 4.8rem;
		line-height: 1.2;
		color: #000;
		text-align: center;
	}

	&__subtitle{
		font-size: 2.8rem;
		color: #000;
		text-align: center;
		margin-top: 8px;
	}
}

.basket-list{
	padding: 15px 57px;
}

.basket-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding: 45px;
	border-radius: 16px;
	position: relative;

	// &:not(:last-child){margin-bottom: 20px;}

	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 160px;
		height: 160px;
		border-radius: 16px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__main{width: 100%;}

	&__title{
		font-size: 2.2rem;
		line-height: 1;
		color: #000;

		a{
			color: #000;
			text-decoration: none;
			transition: color 0.3s ease;

			&:hover{color: var(--color-primary);}
		}
	}

	&__count{flex-shrink: 0;}

	&__price-wrap{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-shrink: 0;
		width: 275px;
		text-align: right;
	}

	&__old_price-wrap{
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__old_price{
		font-size: 2.4rem;
		line-height: 1.2;
		color: #9B9B9B;
		text-decoration: line-through;
	}

	&__old_price &__currency{font-size: 1.8rem;}

	&__sale{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		padding: 7px 12px;
		border-radius: 8px;
		background: #502726;
		font-size: 1.4rem;
		line-height: 1;
		color: #fff;
		text-align: center;
	}

	&__price{
		font-size: 3.4rem;
		color: #000;
	}

	&__price &__currency{font-size: 2.6rem;}

	&__content{
		display: flex;
		align-items: center;
		gap: 30px;
		flex-shrink: 0;
	}

	.counter{
		&__toggle{
			opacity: 0;
			transition: all 0.3s ease;
		}

		input[type="text"],
		input[type="number"]{
			transition: all 0.3s ease;
		}
	}

	&:hover{background: #F2F2F2;}

	&:hover .basket-item-close{
		display: inline-flex;
		align-items: center;
		gap: 10px;
	}

	&:hover .counter__toggle{opacity: 1;}

	&:hover .counter{
		input[type="text"],
		input[type="number"]{
			background: #fff;
		}
	}
}

.basket-item-close{
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #ABABAB;

	&__label{
		font-size: 1.4rem;
		line-height: 1;
	}

	&__icon{flex-shrink: 0;}
}

.basket-item-props{
	font-size: 1.6rem;
	color: #ADADAD;
	margin-top: 15px;
}

.coupon{
	&__item{
		display: flex;
		gap: 12px;
		height: 7.4rem;
	}

	&__field{
		width: 100%;

		input[type="text"]{
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;
			font-family: var(--font-site);
			font-size: 2rem;
			line-height: 1.2;
			color: #000;
			padding: 0 30px;
			border-radius: 16px;
			border: 1px solid #fff;
			background: #fff;
			outline: 0;
			margin: 0;
			box-shadow: none;
			transition: border-color 0.2s ease 0s;
		}

		input[type="text"]:focus{border-color: var(--color-primary);}
	}

	&__btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 80px;
		height: 100%;
		background: var(--color-primary);
		border-radius: 16px;
		font-size: 3.2rem;
		line-height: 1;
		color: #fff;
		transition: all 0.3s ease 0s;

		&:hover{
			box-shadow: inset 0 -5.4em 0 0 var(--color-primary-hover);
			color: #fff;
			text-decoration: none;
		}
	}
}

.basket-result{
	margin: 40px 202px 0;

	&__title{
		font-size: 2.8rem;
		color: #000;
		text-align: center;
		margin-bottom: 20px;
	}

	&__content-wrap{
		background: #F7F7F7;
		border-radius: 16px;
		padding: 50px 50px 60px;
	}

	&__content{
		width: 665px;
		max-width: 100%;
		margin: 0 auto;
	}

	&__sum{
		margin-top: 33px;
		padding-top: 20px;
		border-top: 1px solid #bbb;
		font-size: 3.4rem;
		line-height: 1;
		color: var(--color-primary);
		text-align: right;
	}

	&__currency{font-size: 2.6rem;}

	.btn{
		width: 100%;
		margin-top: 30px;
	}
}

.basket-result-info{
	display: flex;
	justify-content: space-between;
	gap: 30px;
	color: #000;

	&__label{font-size: 2.4rem;}

	&__val{
		font-size: 3.4rem;
		line-height: 1;
	}

	&__currency{font-size: 2.6rem;}
}

.basket-result-sale{
	display: flex;
	justify-content: space-between;
	gap: 30px;
	color: var(--color-primary);
	margin-top: 8px;

	&__label{font-size: 1.6rem;}

	&__val{
		font-size: 2.4rem;
		line-height: 1;
	}

	&__currency{font-size: 1.8rem;}
}

.basket-other{
	margin-top: 25px;

	&__title{
		width: 415px;
		max-width: 100%;
		margin: 0 auto 30px;
		font-size: 2.8rem;
		line-height: 1.3;
		color: #000;
		text-align: center;
	}

	.catalog-list{
		margin-left: -25px;
		margin-right: -25px;
	}

	.catalog-item{width: calc(25% + 1px);}

	&__more{
		margin-top: 34px;
		font-size: 2.2rem;
		color: #6E6E6E;
		text-align: center;

		a{
			color: #6E6E6E;
			text-decoration: underline;
			transition: all 0.3s ease;

			&:hover{
				color: var(--color-primary);
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 1479px) {
	.basket{
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 1279px) {
	.basket-list{
		padding-left: 0;
		padding-right: 0;
	}

	.basket-item{
		&__price-wrap{width: 200px;}
	}

	.basket-result{margin: 40px 100px 0;}
}

@media (max-width: 991px) {
	.basket-item{
		flex-wrap: wrap;
		gap: 13px 16px;
		padding: 0;
		margin-bottom: 28px;

		&__main{
			width: calc(100% - 176px);
			padding: 30px 0;
		}

		&__content{
			justify-content: space-between;
			width: 100%;
			background: #F7F7F7;
			border-radius: 16px;
			padding: 20px;
		}

		&__price-wrap{width: auto;}

		.counter{
			&__toggle{opacity: 1;}

			input[type="text"],
			input[type="number"]{
				background: #fff;
			}
		}
	}

	.basket-item-close{
		display: inline-flex;
		align-items: center;
		gap: 10px;
		top: 0;
		right: 0;
	}

	.basket-result{
		margin-left: 0;
		margin-right: 0;
	}

	.basket-other{
		.catalog-item{width: calc(33.33% + 1px);}
		.catalog-item:nth-child(n+7){display: none;}
	}
}

@media (max-width: 767px) {
	.basket{
		&__title{font-size: 4.6rem;}
		&__subtitle{display: none;}

		&__top{
			padding-bottom: 0;
			border: none;
		}
	}

	.basket-item{
		&__img{
			width: 112px;
			height: 112px;
			border-radius: 12px;
		}

		&__content{
			border-radius: 12px;
			padding: 15px;
		}

		&__main{width: calc(100% - 128px);}
		&__title{font-size: 1.6rem;}
		&__old_price{font-size: 1.7rem;}
		&__old_price &__currency{font-size: 1.5rem;}
		&__price{font-size: 2.4rem;}
		&__price &__currency{font-size: 1.8rem;}

		&__sale{
			font-size: 1rem;
			border-radius: 6px;
			padding: 5px 8px;
		}
	}

	.basket-item-props{
		font-size: 1.2rem;
		margin-top: 5px;
	}

	.basket-item-close{
		&__label{font-size: 1rem;}
	}

	.coupon{
		&__item{
			width: 188px;
			height: 4.5rem;
		}

		&__field{
			input[type="text"]{
				border-radius: 12px;
				font-size: 1.8rem;
				padding: 0 15px;
			}
		}

		&__btn{
			width: 48px;
			border-radius: 12px;
			font-size: 2rem;
		}
	}

	.basket-result{
		margin-top: 30px;

		&__sum{
			font-size: 2.4rem;
			padding-top: 25px;
		}

		&__title{font-size: 2.4rem;}
		&__content-wrap{padding: 30px 22px;}
		&__currency{font-size: 1.8rem;}
	}

	.basket-result-info{
		&__label{
			font-size: 1.6rem;
			line-height: 1;
		}

		&__val{
			font-size: 2.4rem;
			white-space: nowrap;
		}

		&__currency{font-size: 1.8rem;}
	}

	.basket-result-sale{
		margin-top: 40px;

		&__label{
			font-size: 1.4rem;
			line-height: 1;
		}

		&__val{
			font-size: 1.8rem;
			white-space: nowrap;
		}

		&__currency{font-size: 1.5rem;}
	}

	.basket-other{
		&__title{font-size: 2.2rem;}
		.catalog-item{width: calc(50% + 1px);}
		&__more{font-size: 1.6rem;}
	}
}