/*-------------- catalog-menu -----------------*/
.catalog-menu{
	&__btn{
		display: inline-flex;
		align-items: center;
		gap: 26px;
		height: 5.8rem;
		padding: 0 32px 0 14px;
		border-radius: 4px;
		background: var(--color-primary);
		font-size: 1.8rem;
		line-height: 1.2;
		color: #fff;
	}
}

body .catalog-menu-popup .f-button.is-close-button{
	top: 30px;
	right: 30px;

	&::after{display: none;}
}

.catalog-menu-popup{
	width: 100vw;
	// height: 100%;
	
	
	// overflow-y: auto;
	// position: fixed;
	// top: 0;
	// left: 0;
	// z-index: 1000;

	&.f-html{
		margin: -34px -8px;
		background: #000;
		color: #fff;
		padding: 30px 20px;
	}

	&__top{
		display: flex;
		align-items: center;
		gap: 20px;
		padding-bottom: 24px;
		padding-right: 80px;
	}

	&__title{
		font-family: var(--font-grotesk);
		font-size: 6rem;
		line-height: 1;
		margin: -12px 0 0 16px;
	}

	&__sale{
		font-family: var(--font-abril);
		font-size: 5.6rem;
		line-height: 1;
		color: var(--color-second);
		padding: 0 16px;
		position: relative;

		&::before,
		&::after{
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			background: var(--color-second);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before{left: 0;}
		&::after{right: 0;}
	}

	&__text{
		font-size: 1.8rem;
		color: var(--color-second);

		a{
			color: var(--color-second);
			text-decoration: underline;
			transition: color 0.3s ease;

			&:hover{text-decoration: none;}
		}
	}

	&__main{
		display: flex;
		gap: 36px;
	}

	&__sidebar{
		display: flex;
		flex-direction: column;
		gap: 27px;
		flex-shrink: 0;
		width: 312px;
	}

	&__content{width: 100%;}

	&__sect{
		display: none;

		&.active{display: block;}
	}
}

.catalog-menu-sect{
	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&{
		background: #1A1515;
		border-radius: 16px;
		padding: 5px;
		padding-top: 15px;
	}

	&__name{
		display: flex;
		align-items: center;
		padding: 17px 20px 18px 48px;
		border-radius: 12px;
		font-size: 2rem;
		color: #fff;
		position: relative;
		transition: background-color 0.2s ease;
		cursor: pointer;

		&::before{
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #525252;
			position: absolute;
			top: 50%;
			left: 22px;
			transform: translateY(-50%);
		}
	}

	&__item:hover &__name,
	&__item.active &__name{
		background: #2D2525;
	}

	&__item_line{
		border-top: 1px solid #424242;
		padding: 27px 3px;
		margin: 20px 13px 0;
	}

	&__link{
		display: flex;
		align-items: center;
		gap: 12px;
		font-size: 2rem;
		color: var(--color-second);
	}
}

.catalog-menu-info{
	img{
		border-radius: 16px;
		transition: opacity 0.3s ease;
	}

	a:hover img{opacity: 0.7;}
}

.catalog-menu-list{
	&,
	&__item,
	&__sub,
	&__sub-item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&{
		column-count: 4;
		gap: 45px;
	}

	&__item{
		margin-bottom: 16px;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	&__sub-item{margin-bottom: 5.5px;}

	&__link{
		font-size: 1.8rem;
		color: #fff;
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover{text-decoration: underline;}
	}

	&__sub{margin-top: 5px;}

	&__sub-link{
		font-size: 1.6rem;
		color: #858585;
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover{
			color: #fff;
			text-decoration: underline;
		}
	}

	&__img{
		display: block;
		margin: 18px auto 0;
		transition: opacity 0.2s ease;

		img{border-radius: 16px;}

		&:hover{opacity: 0.7;}
	}
}

.event-list{
	display: flex;
	flex-wrap: wrap;
	gap: 48px 56px;
}

.event-item{
	display: block;
	width: calc(25% - 42px);
	text-decoration: none;
	text-align: center;

	&__img-wrap{
		position: relative;
		border-radius: 50%;
		margin-bottom: 8px;
		overflow: hidden;
	}

	&__img{
		padding-bottom: 100%;
		transition: transform 0.3s ease;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: transform 0.3s ease;
		}
	}

	&__img-wrap:hover img{transform: translate(-50%, -50%), scale(1.05);}

	&__title{
		font-size: 2.3rem;
		color: #fff;
	}

	&__text{
		font-size: 1.4rem;
		color: #9C9C9C;
	}

	&:hover{text-decoration: none;}

	&:hover &__img{transform: scale(1.05);}
}

@media (max-width: 1279px) {
	.catalog-menu-list{
		column-count: 3;
		gap: 30px;
	}

	.catalog-menu-popup{
		&__sidebar{width: 280px;}
		&__title{font-size: 4.8rem;}
	}

	.catalog-menu{
		&__btn{padding: 0 10px;}
	}
}

@media (max-width: 991px) {
	.catalog-menu{display: none;}
}