.footer{
	background: var(--color-primary);
	color: #fff;
	padding: 37px 0;

	&__content{
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__col{width: calc(25% - 22.5px);}
	&__logo{margin-bottom: 30px;}

	&__info{
		font-size: 1.4rem;
		line-height: 1.57;
		padding-right: 46px;
	}

	&__title{
		font-size: 1.8rem;
		margin-bottom: 22px;
		
		a{
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{text-decoration: underline;}
		}
	}

	&__polit{
		font-size: 1.6rem;
		margin-top: 22px;
		
		a{
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{text-decoration: underline;}
		}
	}

	.social{
		color: #fff;
		margin-top: 22px;

		&__item{color: #fff;}
	}

	&__address{
		font-size: 1.4rem;
		line-height: 1.6;
	}

	&__time{
		font-size: 1.8rem;
		margin-top: 12px;
	}
}

.footer-catalog-menu{
	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item{
		font-size: 1.6rem;
		margin-bottom: 3.5px;

		a{
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{text-decoration: underline;}
		}
	}
}

.footer-menu{
	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item{
		font-size: 1.8rem;
		margin-bottom: 17px;

		a{
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{text-decoration: underline;}
		}
	}
}

.footer-contacts{
	margin-top: 20px;
	&__item{margin-bottom: 9px;}

	&__val{
		font-size: 1.8rem;
		
		a{
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{text-decoration: none;}
		}
	}

	&__callback{
		font-size: 1.3rem;
		
		a{
			color: #D68F8F;
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.footer-mobile{display: none;}

@media (max-width: 991px) {
	.footer{padding: 24px 16px;}
	.footer-desktop{display: none;}

	.footer-mobile{
		display: block;

		&__address{
			font-size: 1.6rem;
			text-decoration: none;
			text-align: center;
			margin-top: 6px;
			text-decoration: underline;
		}

		&__phone{
			font-family: var(--font-abril);
			font-size: 3.9rem;
			line-height: 1;
			text-align: center;
			margin-top: 16px;

			a{
				color: #fff;
				text-decoration: none;
			}
		}

		&__callback{
			text-align: center;
			margin-top: 23px;

			.btn{min-width: 215px;}
		}

		.social{
			margin-top: 30px;

			&__list{justify-content: center;}
		}

		&__info{
			display: flex;
			align-items: center;
			gap: 14px;
			margin-top: 35px;
		}

		&__logo{
			flex-shrink: 0;
			width: 44px;

			img{opacity: 0.1;}
		}

		&__about{
			font-size: 1.2rem;
			line-height: 1.5;
			opacity: 0.6;
		}

		&__polit{
			font-size: 1.4rem;
			margin-left: 58px;
			margin-top: 16px;

			a{
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	.footer-mobile-metro{
		text-align: center;

		&__icon{
			margin-bottom: 2px;

			.icon{
				color: rgba(255, 255, 255, 0.3);
				margin: 0 auto;
			}
		}

		&__text{font-size: 1.6rem;}
	}
}