.main-info{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	background: var(--color-primary);
	color: #fff;
	padding-bottom: 14px;

	&__icon{flex-shrink: 0;}
	&__label{font-size: 2rem;}
}

.header-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding: 16px 25px;

	&__info{
		display: flex;
		align-items: center;
		gap: 13px;
	}

	&__phone{
		font-size: 1.6rem;
		color: #fff;
		white-space: nowrap;

		a{
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;
		}

		a:hover{text-decoration: underline;}
	}

	&__callback{
		font-size: 1.4rem;
		color: #fff;
		text-decoration: none;
		white-space: nowrap;
		transition: all 0.2s ease;

		&:hover{text-decoration: underline;}
	}
}

.top-menu{
	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&{
		display: flex;
		flex-wrap: wrap;
		gap: 10px 20px;
	}

	&__item{
		font-size: 1.6rem;
		color: #8F8F8F;

		a{
			color: #8F8F8F;
			text-decoration: none;
			transition: all 0.2s ease;
		}

		a:hover{
			color: #fff;
			text-decoration: underline;
		}
	}
}

.header-social{
	display: flex;
	align-items: center;
	gap: 20px;
	flex-shrink: 0;

	&__item{flex-shrink: 0;}

	.ic-tg-circle{color: #29ABE2;}
	.ic-whatsapp-circle{color: #22B573;}
}

.header-address{
	display: flex;
	align-items: center;
	gap: 10px;

	&__icon{
		flex-shrink: 0;
		.icon{color: #975900;}
	}

	&__text{font-size: 1.4rem;}
}

.header-main{
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 25px;

	&__logo{
		flex-shrink: 0;
		margin-right: 15px;

		img{max-width: 224px;}
	}

	.search-form{width: 100%;}

	.catalog-menu{
		flex-shrink: 0;
		margin-right: -5px;
	}

	.header-auth{
		margin-left: 16px;
		&:hover{text-decoration: none;}
	}

	&__btn{display: none;}
}

.header-auth{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-shrink: 0;
	height: 4.8rem;
	background: #502726;
	border-radius: 4px;
	@include font(normal, normal, 1.6rem, 1.2, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	&:hover{
		box-shadow: inset 0 -5.4em 0 0 var(--color-primary-hover);
		color: #fff;
	}
}

.header-action{
	display: flex;
	align-items: center;
	gap: 26px;
	flex-shrink: 0;

	&__item{
		display: inline-flex;
		align-items: center;
		gap: 10px;
		position: relative;
	}

	&__item:not(:last-child)::after{
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		background: rgba(255,255,255,0.4);
		position: absolute;
		top: 0;
		right: -13px;
	}

	&__icon{
		flex-shrink: 0;
		color: #fff;
		padding-right: 30px;
		position: relative;
	}

	&__count{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 27px;
		height: 27px;
		border-radius: 50%;
		background: var(--color-primary);
		font-size: 1.2rem;
		line-height: 1;
		color: #fff;
		position: absolute;
		top: -8px;
		right: 0;
	}

	&__price{
		max-width: 86px;
		font-size: 1.8rem;
		color: #fff;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.header-logo-label{display: none;}

.bg-white{
	.header{background: #F2F2F2;}

	.header-top{
		&__phone a,
		&__callback{
			color: #000;
		}
	}

	.header-action{
		&__icon,
		&__price{
			color: #000;
		}
	}
}

@media (max-width: 1279px) {
	.header-address{
		&__text{max-width: 170px;}
	}

	.top-menu{
		gap: 10px;

		&__item{font-size: 1.4rem;}
	}

	.header-main{
		.header-auth{margin-left: 0;}

		&__logo{
			margin-right: 0;

			img{max-width: 160px;}
		}
	}

	.header-top{gap: 20px;}
}

@media (max-width: 991px) {
	body{border-width: 6px;}

	.main-info{
		padding-bottom: 6px;
		&__label{font-size: 1.6rem;}
	}

	.header-top{display: none;}

	.search-form{
		order: 2;
	}

	.header-main{
		gap: 20px;
		
		&__logo{
			order: 3;
			flex-shrink: initial;
			width: 100%;
			text-align: center;
		}

		.search-form{
			flex-shrink: 0;
			width: auto;
			margin-left: 12px;

			input[type="text"],
			input[type="search"]{
				display: none;
			}

			input[type="submit"],
			button{
				position: static;
				transform: none;
				width: auto;
				height: auto;
				border-radius: 0;
				background: transparent;
			}
		}

		&__btn{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			order: 1;
			width: 47px;
			height: 43px;
			border-radius: 6px;
			background: var(--color-primary);
			color: #fff;
		}
	}

	.header-auth{display: none;}

	.header-action{
		gap: 8px;
		order: 4;
		margin-right: -8px;

		&__price{display: none;}
		&__item:not(:last-child)::after{display: none;}
		&__icon{padding-right: 20px;}
		&__count{top: -12px;}
	}

	.header-logo-label{
		display: block;
		margin-top: -25px;
		margin-bottom: 20px;
		text-align: center;

		img{margin: 0 auto;}
	}
}

@media (max-width: 767px) {
	.main-info{
		gap: 10px;

		&__icon{
			.icon{
				width: 21px;
				height: 21px;
			}
		}

		&__label{font-size: 1.4rem;}
	}

	.header-main{
		gap: 10px;
		padding: 12px;
	}

	.header-logo-label{margin-top: -10px;}
}