:root{
	--font-alssector: 'ALS-Sector', Arial, sans-serif;
	--font-grotesk: 'Akzidenz Grotesk Pro Cn', Arial, sans-serif;
	--font-abril: 'Abril Fatface', Arial, sans-serif;
	--font-site: var(--font-alssector);
	--font-header: var(--font-grotesk);

	--color-primary: #AD2B2A;
	--color-primary-hover: #902623;
	--color-second: #FFC395;
	--color-second-hover: #e09153;

	--color-text: #7B7B7B;
	--color-link: #337ab7;
	--color-link-hover: #fff;

	// --color-danger: #E01E1E;
	// --margin-indent: 140px;
	// --bg-grey: #F2F2F2;
}

html,
body{
	font-family: var(--font-site);
	@include font(normal, normal, 10px, 1.4, var(--color-text));
	box-sizing: border-box;
}

body{
	font-size: 1.6rem;
	border: 20px solid #AC2C28;
	background: #000000;
}

body.no-scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

img{max-width: 100%;}

a{
	color: var(--color-link);
	text-decoration: none;
	transition: color 0.3s ease 0s;
}

a:hover{
	color: var(--color-link-hover);
	text-decoration: underline;
}

p{
	padding: 0;
	margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	font-family: var(--font-header);
	line-height: 1.1;
	color: var(--color-text);
}

h1,.h1{
	font-size: 4.8rem;
	margin-bottom: 3rem;
}

h2,.h2{
	font-size: 4.8rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h3,.h3{
	font-size: 2.4rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h4,.h4{
	font-size: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h5,.h5{
	font-size: 1.4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h6,.h6{
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

ol, ul{
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 40px;
}

// ul{
// 	list-style: none;
// 	margin-bottom: 2rem;

// 	li::before{
// 		content: '';
// 		display: inline-block;
// 		vertical-align: middle;
// 		width: 4px;
// 		height: 4px;
// 		border-radius: 50%;
// 		background: var(--color-text);
// 		margin-left: -12px;
// 		margin-right: 8px;
// 	}
// }

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

main{
	flex: 1 1 auto;
	padding: 0 25px 100px;
	width: 100%;
}

.last-elem{margin-bottom: -100px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 22px;
	height: 5.8rem;
	background: var(--color-primary);
	border: none;
	border-radius: 6px;
	@include font(normal, normal, 2rem, 1.2, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 34px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	.icon{
		flex-shrink: 0;
		fill: #fff;
	}

	.icon.ic-stroke{
		fill: transparent;
		stroke: #fff;
		transition: all 0.3s ease 0s;
	}

	&:hover{
		box-shadow: inset 0 -5.4em 0 0 var(--color-primary-hover);
		color: #fff;
		text-decoration: none;
	}

	&_small{
		height: 4.8rem;
		font-size: 1.6rem;
	}

	&_white{
		background: #fff;
		border-color: #fff;
		color: var(--color-primary);

		&:hover{
			box-shadow: inset 0 -5.4em 0 0 #e2a5a5;
			color: var(--color-primary);
		}
	}

	&_light{
		background: var(--color-second);
		border-color: var(--color-second);
		color: #000;

		&:hover{
			box-shadow: inset 0 -5.4em 0 0 var(--color-second-hover);
			color: #000;
		}
	}


	// &_border{
	// 	background: transparent;
		// border: 2px solid var(--color-primary);
	// 	color: var(--color-primary);

	// 	.icon{fill: var(--color-primary);}

	// 	.icon.ic-stroke{
	// 		fill: transparent;
	// 		stroke: var(--color-primary);
	// 	}
	// }

	// &_border:hover{
	// 	box-shadow: inset 0 -5.4em 0 0 var(--color-primary);
	// 	color: #fff;

	// 	.icon{fill: #fff;}

	// 	.icon.ic-stroke{
	// 		fill: transparent;
	// 		stroke: #fff;
	// 	}
	// }
}

.st-width{
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

// .m-indent{
// 	margin-top: var(--margin-indent);
// 	margin-bottom: var(--margin-indent);
// }

// .mt-indent{margin-top: var(--margin-indent);}
// .mb-indent{margin-bottom: var(--margin-indent);}

// .p-indent{
// 	padding-top: var(--margin-indent);
// 	padding-bottom: var(--margin-indent);
// }

// .pt-indent{padding-top: var(--margin-indent);}
// .pb-indent{padding-bottom: var(--margin-indent);}

// .bg-grey{background-color: var(--bg-grey);}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}
.text-color {color: var(--color-primary) !important;}

@media (max-width: 991px) {
	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 5.2rem;
		font-size: 1.6rem;
	}
}