footer.footer
	.st-width.footer-desktop
		.footer__content
			.footer__col
				.footer__logo
					img(src="/upload/logo-short-white.svg", alt="Логотип")

				.footer__info ООО «Компания «Русь Великая» – интернет-магазин дорогих, элитных подарков и сувениров. Все информационные материалы представленные на сайте являются объектом интеллектуальной собственности и охраняются законом. Любое внешнее использование запрещено.

			.footer__col
				.footer__title
					a(href="#") Каталог

				ul.footer-catalog-menu
					-
						var list=[
							{text:'Интерьерные изделия'},
							{text:'Коллекционирование'},
							{text:'Настольные принадлежности'},
							{text:'Настольные игры'},
							{text:'Хобби'},
							{text:'Сувенирное оружие'},
							{text:'Религиозные подарки'},
							{text:'Посуда'},
							{text:'Сувениры'},
							{text:'Русские подарки'},
							{text:'Русский народный костюм'},
							{text:'Украшения'},
							{text:'Аксессуары'},
							{text:'Подарочная упаковка'},
							{text:'Сувенирные ножи'},
						]
					each item in list
						li.footer-catalog-menu__item
							a(href="#")= item.text

			.footer__col
				ul.footer-menu
					-
						var list=[
							{text:'О компании'},
							{text:'Оплата/Доставка'},
							{text:'Контакты'},
							{text:'Статьи'},
						]
					each item in list
						li.footer-menu__item
							a(href="#")= item.text

				.footer-contacts
					.footer-contacts__item
						.footer-contacts__val
							a(href="tel:+74952231105") +7 (495) 223-11-05

					.footer-contacts__item
						.footer-contacts__callback
							a(href="#") Заказать обратный звонок

					.footer-contacts__item
						.footer-contacts__val
							a(href="mailto:rus-vel@yandex.ru") rus-vel@yandex.ru

				.footer__polit
					a(href="#") Политика конфиденциальности

				.social
					.social__label Мы в соцсетях

					.social__list
						a(href="#").social__item
							+svg('ic-dzen','ic-dzen', '27', '27')

						a(href="#").social__item
							+svg('ic-vk','ic-vk', '30', '19')

						a(href="#").social__item
							+svg('ic-rutube','ic-rutube', '30', '26')

						a(href="#").social__item
							+svg('ic-telegram','ic-telegram', '28', '23')

			.footer__col
				.footer__title Салон-магазин

				.footer__address
					|1051120 г. Москва, ул. Верхняя Сыромятническая, 2
					br
					|Ювелирный центр «Голден Гросс»

				.footer__time с 09:00 до 21:00

	.footer-mobile
		.footer-mobile-metro
			.footer-mobile-metro__icon
				+svg('ic-metro','ic-metro', '32', '23')

			.footer-mobile-metro__text Курская

		.footer-mobile__address ул. Верхняя Сыромятническая, д. 2

		.footer-mobile__phone
			a(href="tel:+74952231105") +7 495 223-11-05

		.footer-mobile__callback
			a(href="#").btn.btn_white Заказать звонок

		.social
			.social__list
				a(href="#").social__item
					+svg('ic-dzen','ic-dzen', '27', '27')

				a(href="#").social__item
					+svg('ic-vk','ic-vk', '30', '19')

				a(href="#").social__item
					+svg('ic-rutube','ic-rutube', '30', '26')

				a(href="#").social__item
					+svg('ic-telegram','ic-telegram', '28', '23')

		.footer-mobile__info
			.footer-mobile__logo
				img(src="/upload/logo-short-white.svg", alt="Логотип")

			.footer-mobile__about ООО «Компания «Русь Великая» – интернет-магазин дорогих, элитных подарков и сувениров. Все информационные материалы представленные на сайте являются объектом интеллектуальной собственности и охраняются законом. Любое внешнее использование запрещено.

		.footer-mobile__polit
			a(href="#") Политика конфиденциальности

#auth-popup.auth-popup(style="display: none;")
	.auth-popup-brand
		a(href="#").auth-popup-brand__link
			img(src="/upload/auth-brand1.jpg", alt="")
		//- .auth-popup-brand__img
		//- 	img(src="/upload/ph.jpg", alt="")

		//- .auth-popup-brand__content
		//- 	.auth-popup-brand__top
		//- 		.auth-popup-brand__logo
		//- 			img(src="/upload/asfour.png", alt="")

		//- 		.auth-popup-brand__text Asfour — один из немногих в мире брендов, кто в совершенстве освоил технологии нанесения стойких цветных покрытий, таких как «Аура» и «Сатин».
			
		//- 	.auth-popup-brand__link
		//- 		a(href="#") Все товары бренда

	.auth-popup__main
		.auth-popup__title Вход в личный кабинет

		.auth-popup__text Введите телефон. На этот номер поступит смс с&nbsp;кодом подтверждения.

		form.auth-form.js-auth-form
			label.auth-form__item
				input(name="phone", type="text", required="required", placeholder=" ", class="js-phone")

				.auth-form__label Телефон

				.auth-form__close.js-auth-form-close
					+svg('ic-close','ic-close', '17', '17')

			.auth-form__btn
				input(type="submit", value="Войти").btn.btn_small

		.auth-popup-social
			.auth-popup-social__title или

			.auth-popup-social__list
				-
					var list=[
						{img:'ya.svg', text:'Вход с Яндекс ID'},
						{img:'vk.svg', text:'Вход с VK ID'},
						{img:'sber.svg', text:'Вход по Сбер ID'},
						{img:'tbank.svg', text:'Вход по Тинькофф ID'},
					]
				each item in list
					.auth-popup-social__item
						a(href="#").auth-popup-social__link
							span.auth-popup-social__icon
								img(src="/upload/"+item.img, alt="")

							span.auth-popup-social__label= item.text

		.auth-popup__label Нажимая на кнопку, я соглашаюсь с правилами пользования торговой площадкой и политикой конфиденциальности.

#auth-sms.auth-popup(style="display: none;")
	.auth-popup-brand
		a(href="#").auth-popup-brand__link
			img(src="/upload/auth-brand1.jpg", alt="")
		//- .auth-popup-brand__content
		//- 	.auth-popup-brand__top
		//- 		.auth-popup-brand__logo
		//- 			img(src="/upload/logo-rus.svg", alt="")

		//- 		.auth-popup-brand__text Основой коллекции являются миниатюрные скульптуры: от элегантных животных и мифологических персонажей до абстрактных форм.
			
		//- 	.auth-popup-brand__img
		//- 		img(src="/upload/tree.jpg", alt="")

		//- 	.auth-popup-brand__link
		//- 		a(href="#") Все товары коллекции

	.auth-popup__main
		.auth-popup__title Введите код из смс

			.auth-popup__text Мы отправили его на номер
				.auth-popup__phone +7 903 254-23-20

			form.sms-form
				input(type="text", class="js-code-input", maxlength="1")
				input(type="text", class="js-code-input", maxlength="1")
				input(type="text", class="js-code-input", maxlength="1")
				input(type="text", class="js-code-input", maxlength="1")

			.auth-popup__note Новый код можно получить через 0:23

		.auth-popup-social
			.auth-popup-social__title или

			.auth-popup-social__list
				-
					var list=[
						{img:'ya.svg', text:'Вход с Яндекс ID'},
						{img:'vk.svg', text:'Вход с VK ID'},
						{img:'sber.svg', text:'Вход по Сбер ID'},
						{img:'tbank.svg', text:'Вход по Тинькофф ID'},
					]
				each item in list
					.auth-popup-social__item
						a(href="#").auth-popup-social__link
							span.auth-popup-social__icon
								img(src="/upload/"+item.img, alt="")

							span.auth-popup-social__label= item.text

		.auth-popup__label Нажимая на кнопку, я соглашаюсь с правилами пользования торговой площадкой и политикой конфиденциальности.